* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    font-weight: 400;;
    background-color: #4E0000;
}

#my-projects {

}

#navbar {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    background-color: #80170F;
    width: 100%;
}
.nav-list {
    list-style: none;
    display: flex;
    margin-right: 2rem;
    
}

.nav-list a {
    display: block;
    padding: 2rem;
    text-decoration: none;
    color: #FF756B;
}
#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #CC2418;
    }

#project-list {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    background-color: #80170F;
    padding-bottom: 40px;
    flex-wrap: wrap;
}


#image {
    padding-top: 40px;
    width: 350px;
    height: 300px;
}



figcaption {
    text-align: center;
    color: #FF756B;
    text-decoration: none;
}

.navoption:hover{
    background-color: #40000C;
    border-radius: 10%;
    padding: 25px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
}

figure:hover{
    padding: 10px;
    background-color: #40000C;
    border-radius: 10%;
    font-size: 35px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 80;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
}

h1 {
    color: #FF756B;
}

#my-projects {
    color: FF756B;
}

#contact {
    display: flex;
    justify-content: space-evenly;
    margin: 6rem;
    flex-wrap: wrap;
    
}

#profile-link:hover {
    padding: 5px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
}

#profile-link {
    color: #FF756B;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: #80170F;
    color: #FF756B;
    }



    @media screen and (width: 600px) {
        body {
            color: red;
        }
    }

    /* 980px / 16px = 61.25em */
    @media (max-width: 61.25em) {
        html{
            font-size: 60%;
        }

    }

