body{
    background-color: gray;
}

button {
    color: gray;
    text-align: center;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: black;
    font-size: 25px;
    height: 40px;
    width: 100%;
    border-radius: 10px;
    }

img{
    height: 19.5rem;
    padding: 0px 5px 0px 0px;
    border-radius: 20rem;
}

h1 {
    text-align: center;
    align-items: center;
}

@media screen and (width: 600px) {
    body {
        color: black;
    }
}
 
/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
    html{
        font-size: 70%;
        border: 50%;
    }

}