header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body{
  align-items: center;
  padding: 30px;
  background-image: url(http://cartoondistrict.com/wp-content/uploads/2014/12/pokemon-wallpaper-HD-for-desktop-2.jpg);
  background-position: center;
}

#newButton{
  padding: 20px;
  border-radius: 25%;
  margin: 1rem;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.7);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#startButton{
  padding: 20px;
  border-radius: 25%;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.7);
}


.pokemonGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.scene {
  width: 200px;
  height: 260px;
  margin: 10px;
  perspective: 600px;
  border-radius: 30px;
  background-image: url(http://clipartmag.com/images/pokemon-clipart-black-and-white-28.jpg);
  background-position: center;
  background-size: 160%;
}

.card {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  font-weight: bold;
  backface-visibility: hidden;
  border-radius: 30px;
}

.card__face--front {
  color:red;
  padding: 20px 0px 0px 0px;
}
.card__face--back {
  background-image: url(http://static.planetminecraft.com/files/resource_media/screenshot/1335/2013-08-31_113423_6296943.jpg);
  background-position: center;
  transform: rotateY(180deg);
  text-align: center;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.7);
}

li {
  text-align: left;
  padding: 15px;
  font-family: Verdana, Tahoma, sans-serif;
}

img {
  height: 50%;
}

#showdown{
  height: 200px;
  padding: 0px 14px 0px 0px;
}

.project-tile{
  text-align: center;
}

button:hover{
  background-color: #F2B807;
  opacity: 90%;
}