:root {
    box-sizing: border-box;
}

body {
    background-color: black;
}

header, footer {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color: gray;
    background-color: black;
}

a {
    text-decoration: none;
    font-size: 1.5rem;
}

h1, li {
    list-style-type: none;
    color: darkred;
}

li:hover {
    padding: 5px;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    background-color: darkslategrey;
    border-radius: 5%;
}

.container {
    display: flex;
    background-color: black;
}

.nav {
    border: outset 4px gray;
    padding-right: 1rem;
}

.box {
    text-align: center;
    font: bold;
    color: black;
    background-color: gray;
}

img {
    padding: 160px;
    size: 100%;
    border: outset gray;
    border-radius: 50%;
}
img {
    position: relative;
    background-color:  black;
    animation-name: example;
    animation-duration: 2s;
  }

@media screen and (width: 600px) {
    body {
        color: black;
    }
}
 
/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
    html{
        font-size: 70%;
        border: 50%;
    }

}
@keyframes example {
    0%   {image-orientation:black; left:0px; top:0px;}
    25%  {image-orientation:black; left:200px; top:0px;}
    50%  {image-orientation:black; left:200px; top:200px;}
    75%  {image-orientation:black; left:0px; top:200px;}
    100% {image-orientation:black; left:0px; top:0px;}
  }
