:root {
    box-sizing: border-box;
}

body {
    background-color: black;
}

header, footer {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color: gray;
    background-color: black;
}

a {
    text-decoration: none;
    font-size: 1.5rem;
}

li {
    list-style-type: none;
}

.container {
    display: flex;
    background-color: black;
}

.nav {
    border: outset 4px gray;
    padding-right: 1rem;
}

.box {
    text-align: center;
    font: bold;
    color: black;
    background-color: gray;
}

img {
    padding: 160px;
    size: 100%;
    border: outset gray;
    border-radius: 50%;
}

@media screen and (width: 600px) {
    body {
        color: black;
    }
}
 
/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
    html{
        font-size: 70%;
        border: 50%;
    }

}